<main class="main">

  <!-- Page Title -->
  <div class="page-title" data-aos="fade">

    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li class="current">Your Courses</li>
        </ol>
      </div>
    </nav>

    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Your Enrollments</h1>
            <p class="mb-0">
              View and manage all your enrolled courses.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Page Title -->

  <!-- Courses Section -->
  <section id="courses" class="courses section">

    <div class="container">

      <div class="row">
        {{#if courses.length}}
          {{#each courses}}
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 mb-4"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="course-item">
                <img src="{{thumbnailUrl}}" class="img-fluid" alt="" />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <p class="category">{{categoryName}}</p>
                    <p class="price">₫{{format_number price}}</p>
                  </div>
                  <h3><a href="/students/enrolled/learn/{{this.id}}">{{title}}</a></h3>
                  <p class="description">{{shortDesc}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          <div class="col-12">
            <p class="text-center">No courses found.</p>
          </div>
        {{/if}}

      </div>

    </div>

  </section><!-- /Courses Section -->

</main>

<nav aria-label="Page navigation example" class="mt-3">
  <ul class="pagination justify-content-center">
    {{#if (gt currentPage 1)}}
      <li class="page-item">
        <a class="page-link" href="?page={{decrement currentPage}}">Previous</a>
      </li>
    {{else}}
      <li class="page-item disabled"><a class="page-link">Previous</a></li>
    {{/if}}

    {{#each pages}}
      {{#if isCurrent}}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{this.value}}">{{this.value}}</a>
        </li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="?page={{this.value}}">{{this.value}}</a>
        </li>
      {{/if}}
    {{/each}}

    {{#if (lt currentPage totalPages)}}
      <li class="page-item">
        <a class="page-link" href="?page={{increment currentPage}}">Next</a>
      </li>
    {{else}}
      <li class="page-item disabled"><a class="page-link">Next</a></li>
    {{/if}}
  </ul>
</nav>