<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="instructor-info">
        <img src="{{instructor.image_100x100}}" class="img-fluid rounded" alt="{{instructor.display_name}}">
        <h2>{{instructor.display_name}}</h2>
        <p class="lead">{{instructor.job_title}}</p>
        <p>{{instructor.name}} | {{instructor.email}}</p>
        {{#if instructor.url}}
        <a href="{{instructor.url}}" target="_blank" class="btn btn-outline-primary">Website</a>
        {{/if}}
      </div>
    </div>
    
    <div class="col-md-8">
      <h3>Khóa học của {{instructor.display_name}}</h3>
      <div class="row">
        {{#each courses}}
        <div class="col-md-6 mb-3">
          <div class="card">
            <img src="{{thumbnail_url}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
              <h6 class="card-title">{{title}}</h6>
              <p class="card-text">{{short_desc}}</p>
              <p class="text-success">{{sale_price}}đ <small class="text-muted"><s>{{price}}đ</s></small></p>
              <a href="/courses/{{id}}" class="btn btn-primary btn-sm">Xem chi tiết</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>